.buttonDetalles {
  background-color: black;
  color: white;
  padding: 7px 40px;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 7px;
  justify-content: center;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
  text-align: center;
}

.h1Titulo {
  text-align: center;
  font-size: 50px;
  color: black;
  background-color: transparent;
  padding: 5px;
  border-radius: 5px;
}
.card {
  align-self: center;
  width: 20%;
  height: 20%;
  margin: 10px;
  border-radius: 5px;
}

.mover {
  margin-left: 600px;
}
