.buttonDetalles {
  background-color: black;
  color: white;
  padding: 7px 40px;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 7px;
  justify-content: center;
  cursor: pointer;
  width: 20%;
  font-size: 15px;
  text-align: center;
}

.h1Titulo {
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: rgba(0, 0, 0, 0.108);
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}
.card {
  align-self: center;
  width: 20%;
  height: 20%;
  margin: 10px;
  border-radius: 5px;
}

.mover {
  margin-left: 600px;
}

.barras {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 28px;
  border: 4px;
  border-radius: 7px;
  background-color: black;
  color: white;
  width: 13%;
  border: 1px solid black;
  text-align: center;
}
