@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;1,500;1,700&display=swap");

.buttonSearchBar {
  background-color: black;
  color: white;
  margin-top: 10px;
  margin-bottom: 40px;
  height: 32px;
  border: 4px;
  border-radius: 7px;
  background-color: black;
  color: white;
  width: 10%;
  border: 1px solid black;
  text-align: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 3px;
}

.barras2 {
  margin-top: 10px;
  margin-bottom: 40px;
  height: 28px;
  border: 4px;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 0.474);
  color: black;
  width: 13%;
  border: 1px solid black;
  text-align: center;
}
