.body {
  background-image: url(https://as1.ftcdn.net/v2/jpg/02/42/75/76/1000_F_242757656_LYhzT9Kzxb5XdOsNY6SYSyroxMzZBeRN.jpg);
  height: 100vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background-color: black;
  color: white;
  padding: 7px 40px;
  margin: 20px 0;
  border: 1px solid white;
  border-radius: 7px;
  justify-content: center;
  cursor: pointer;
  width: 30%;
  font-size: 15px;
  text-align: center;
}

.h1 {
  text-align: center;
  font-size: 80px;
  color: black;
  background-color: rgba(255, 255, 0, 0.696);
  padding: 5px;
  border-radius: 15px;
  border: 10px;
  width: 100%;
}
